---
---

.grayscale {
  $scale: 100%;
  -webkit-filter: grayscale($scale);
  -moz-filter: grayscale($scale);
  -ms-filter: grayscale($scale);
  -o-filter: grayscale($scale);
  filter: grayscale($scale);

  &:hover {
    $scale: 0%;
    -webkit-filter: grayscale($scale);
    -moz-filter: grayscale($scale);
    -ms-filter: grayscale($scale);
    -o-filter: grayscale($scale);
    filter: grayscale($scale);
  }
}

.navbar.navbar-inverse {
  background-color: #3498DB;
  border-color: #2B77AA;
  width: 100%;

  &.headhesive {
    /* Required styles */
    position: fixed;
    top: 0;
    left: 0;

    /* Translate -100% to move off screen */
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    /* Animations */
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }

  &.headhesive--stick {
    /* Translate back to 0%; */
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);

    padding: 0px;

    a.navbar-brand {
      padding: 5px;
    }
  }
}

.avatar {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;

  width: 150px;
  height: 150px;

  &:hover {
    -webkit-box-shadow: 0 0 40px #2B77AA, inset 0 0 40px #3498DB;
    -moz-box-shadow: 0 0 40px #2B77AA, inset 0 0 40px #3498DB;
    box-shadow: 0 0 40px #2B77AA, inset 0 0 40px #3498DB;

    margin-top: -2%;
    margin-bottom: 2%;
  }

  &.micro {
    width: 35px;
    height: 35px;

    &.invisible {
      opacity: 0;
    }
  }
}

.clip-circle {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

#welcome .content {
  text-align: left;
}

#work {
  padding-top: 40px;

  .labs, .projects {
    margin: 0px;

    .thumbnail {
      width: 100%;
      padding: 10px;
    }
  }
}

#footer {
  background-color: #4E4E4E;

  #my_social_media_links a {
    display: inline-block;
    margin: 5px;
  }

  // custom float-label style
  #contact {
    form {
      input, textarea {
        border-radius: 0px;
        padding: 0.5em 1em;
      }

      .form-group.float-label-wrapper {
        label {
          top: .5em;
        }

        &.populated {
          label {
            color: #3498DB;
            opacity: 0.8;
            font-size: 0.8em;
          }

          .form-control {
            padding-top: 1.5em;
          }
        }

        .form-control {
          height: auto;
        }
      }
    }
  }
}

