---
layout: blog
styles: "/assets/css/blog.css"
---

<article class="post">
    <header>
        <h1 id="blog-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <small>by {% if page.author %} {{page.author}} {% else %} {{site.author}} {% endif %}
            &nbsp;•&nbsp; {{ page.date | date: "%B %e, %Y" }}
        </small>
    </header>

    <div id="blog-entry">
        {{ content }}
    </div>

    <footer>
        <section class="categories">
            {% for category in page.categories %}
            <small>
                <a href="/categories/{{category}}" class="category">{{category}}</a>
            </small>
            {% endfor %}
        </section>

        <section class="comments">
            {% include disqus.html %}
        </section>
    </footer>
</article>
